@charset "utf-8";
/* CSS Document */
body {
	margin: 0 auto;
	border: 0px;
	background-image: url('../images/background.svg'); 
	background-repeat: no-repeat;
	background-size: cover;
	color:#FFF;
	font-family: 'Luckiest Guy', sans-serif;
	font-size:16px;
    width: 1200px;
}

.grid-con { 
    display: grid;
    grid-template-columns: repeat(12, 147);
    grid-column-gap: 11px;
    padding-left: 17px;
    padding-right: 17px;
 }

#game-boards {
	width: 100%;
	text-align: center;
}

.puzzle-pieces, .puzzle-board {
	height: 680px;
	display: inline-block;
	border: medium solid #d70698;
	color: inherit;
	overflow: hidden;
}



.puzzle-pieces {
	margin: 0 auto;
	width: 1235px;
    height: 150px;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
	margin-left: -2px;
	background-color: green;
	border: none;
}

.puzzle-pieces img{
    width: 153px;
    height: 152px;
}

.puzzle-pieces img:not(:first-child){
    margin-left: 17px;
}


.puzzle-board {
	width:1240px; 
	height: 430px;
	background-image: url('../images/scenary-edited.svg');
	background-repeat: no-repeat;
	background-size: 1230px 480px;
	background-position-x: 2px;
	background-position-y: -15px;
	margin: 0 auto;
	margin-top: 120px;
	margin-left: -2px;
	margin-bottom: 0px;
	border: none;
}

.puzzle-image {
	width: 40%;
	display: block;
	cursor: pointer;
}

.puzzle-image:nth-child(even) {
	float: right;
	clear: both;
}
.puzzle-image:nth-child(odd) {
	float: left;
	clear: both;
}

.drop-zone {
	width: 10%;
    height: 25%;
    border: thin dashed green;
    float: left;
	position: relative;
	top: 45%;
	left: 20%;
}

.drop-zone img { 
	position: absolute; width: 100% !important;
	height: 100%;
	float: none;
}

.tl img { right: 0; bottom: 0; }
.tr img { left: 0; bottom: 0; }

.bl img { right: 0; top: 0; }
.br img { left: 0; top: 0; }

.ml img { right: 0; top: 0; }
.mr img { left: 0; top: 0; }


header {
	position: relative;
	top: 20px;
	width:600px;
	margin: 0px auto;
	text-align: center;
}

header h1 {
	font-size: 3.25em;
  letter-spacing: 3px;
	margin: 10px 0
}

header p, footer p { font-size: 1.7em; letter-spacing: 2px; margin: 10px 0 }

footer {
	position: relative;
	top: 65px;
	width:600px;
	margin: 0px auto;
	text-align: center;
}

#buttonHolder {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    align-content: center;
}

#buttonHolder img {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
	border: thin solid #333;
	cursor: pointer;
    width: 153px;
    height: 152px;
}

#headLine h1 { transition: all 1.5s ease;;}

.orange-headline{
	color: orange;
}

#buttonHolder img:hover {
	opacity:.5;
}
